/**
 * BASE
 */

html,
body
{
	height: 100%;
	width: 100%;

}

html
{
    $original-font-size: 62.5%;

    box-sizing: border-box;
	font-size: $original-font-size;
    letter-spacing: 0.05em;

    @include at('xs')
    {
        font-size: ($original-font-size * 3/4);
    }
}

body
{
    margin: 0;
    counter-reset: a;
    font-family: $font-family;
}

h1, .h1
{
	font-family: $font-title;
    font-size: 4rem;
}

h2, .h2
{
    font-family: $font-title;
    font-size: 3rem;
}

h3, .h3
{
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}

h4, .h4
{
    font-family: $font-title;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

a
{
	color: currentColor;
    cursor: pointer;
	text-decoration: none;
}
