/**
 * COMPONENTS: ANIMATIONS
 */

 .grayscale
 {
 	filter: grayscale(100%);
 	transition: 0.3s ease;

 	&:hover
 	{
 		filter: grayscale(0);
 		transition: 0.3s ease;
 	}
}

.hoverable
{
	position: relative;
	
	&::after
	{
		display: block;
		height: 2px;
		width: 0;
		position: absolute;
		bottom: -7px;
		left: auto;
		right: 0;
		background-color: $red;
		border-radius: 1px;
		content: "";
		transition: width .3s ease;

	}

	&:hover::after
	{
		width: 100%;
	    left: 0;
	    right: auto;
	}
}

@keyframes slideFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideToLeft {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideToRight {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}