/**
 * FOOTER
 */

.site-footer
{
	position: relative;
	background-color: $black;
	z-index: 0;

	.site-section__title
	{
		margin-top: 7rem;

		&::before
		{
			display: none;
		}
	}

	&__title
	{
		margin: 0 0 5rem 0;
		color: $white;
		font-size: 1.8rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		@include at('xs')
		{
			margin-top: 7rem;
		}
	}

	&__text
	{
		color: $grey;
		font-size: 1.6rem;
		line-height: 2.6rem;
	}

	&__map
	{
		margin: 2.6rem 0;
		height: 28rem;
		max-width: 100%;
	}

	&__copyright
	{
		margin-top: 7rem;
		border-top: 1px solid $text-black;

		&__text
		{
			margin: 3.5rem 0;
			color: $grey;
			font-size: 1.2rem;

			@include at('xs')
			{
				line-height: 3.5rem;
			}
		}
	}

}