/**
 * HEADER
 */

.menu--is-open
{
	.site-header__nav
	{
		display: block;

		&__overlay
		{
			display: block;
		}
	}


}

.site-header
{
	position: relative;

	.inner
	{
		padding-top: 4rem;
	}

	&__logo
	{
		.svg
		{
			max-width: 100%;
			height: auto;
		}
	}

	&__nav
	{
		@include to( 's' )
		{
			display: none;
			position: fixed;
			bottom: 0;
			right: 0;
			top: 0;
			margin: 0;
			padding: 11.5rem 0 0 0;
			width: 24rem;
			background-color: $white;
			z-index: 20;
		}

		&__overlay
		{
			display: none;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			background-color: rgba( 0, 0, 0, .25 );
			z-index: 19;
		}
	}
	
	&__content
	{
		color: $white;
		background-image: url('#{$img-dir}/svg/ecoflam__background-title.svg');
		background-position: center;
		background-repeat: no-repeat;

		&__title
		{
			letter-spacing: 0.2em;

			> span
			{
				display: block;
				font-family: $font-family;
				font-size: 3rem;
				font-style: italic;
				letter-spacing: 0.05em;
				
				&:nth-child(1)
				{
					margin-bottom: 4rem;
					margin-top: 20rem;
				}

				&:nth-child(2)
				{
					margin-top: 4rem;
					margin-bottom: 20rem;
				}
			}
		}

	}
}