/**
 * LAYOUT
 */

.inner
{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	
	max-width: $container-width;

	&-wrapper
	{
		margin: 0 $gutter-width;

		@include to('s')
		{
			margin: 0 7.4rem;
		}

		@include to('xs')
		{
			margin: 0 2.5rem;
		}
		
		.list-multiple-column
		{
			padding-left: 2rem;
			break-inside: column;
			column-count: 3;
			column-gap: 4rem;

			@include to('s')
			{
				column-count: 2;
			}

			@include to('xs')
			{
				margin: 7.4rem 0 0 0;
				column-gap: 7.4rem;
			}
		}

		.text-multiple-column
		{
			break-inside: column;
			column-count: 2;
			column-gap: 2rem;

			& > p 
			{
				-webkit-margin-before: 0;
  				-webkit-margin-after: 0;
  			}

			@include to('xs')
			{
				column-count: 1;
			}
		}

		&__image
		{
			@include to('m')
			{
				text-align: center;
			}
		}
	}

	&.has-padding
	{
		padding-bottom: 14rem;
	}

	&.is-last
	{
		padding-bottom: 28.5rem;
	}
}

// To create the oblic effect on section, we are using the property CSS clip-path. It works like a charm.
.oblic
{
	
	&-rtl
	{
		position: relative;
		// margin-bottom: 144px;

		&::before
		{
			display: block;
			position: absolute;
			top: -144px;
			height: 144px;
			width: 100%;
			background-color: inherit;
			content: "";
			clip-path: polygon( 0% 100%, 100% 0%, 100% 100% );
			// clip-path: url("#clip-shape-rtl");

			// 0% 100%,100% 0%,100% 100%
		}
		
		.inner
		{
			// margin-top: 144px;
		}

	}

	&-ltr
	{
		position: relative;
		// margin-bottom: 144px;

		&::before
		{
			display: block;
			position: absolute;
			top: -144px;
			height: 144px;
			width: 100%;
			background-color: inherit;
			content: "";
			clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
		}
		
		.inner
		{
			// margin-top: 144px;
		}		
	}
}

.site-section
{
	&__title
	{
		&.has-no-count
		{
			margin-top: 9rem;

			&::before
			{
				display: none;
			}
		}
	}
}

.archive, .page
{
	&-wrapper
	{
		background-image: url('#{$svg-dir}/svg/ecoflam__background-page.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
}

.home
{
	.page-wrapper
	{
		background: none;
	}
}

.site-section
{

	&__title
	{
		position: relative;
		margin-bottom: 6rem;
		margin-top: 0;
		letter-spacing: 0.3em;
		text-transform: uppercase;

		.svg
		{
			max-width: 100%;
			height: auto;
		}

		&::after
		{
			display: block;
			height: 0.4rem;
			width: 8.5rem;
			position: absolute;
			left: 50%;
			bottom: -6rem;
			background-color: $red;
			border-radius: 0.2rem;
			content: "";
			transform: translate( -50% );
		}

		&::before
		{
			display: block;
			color: $grey;
			content: counter(a, decimal-leading-zero);
    		counter-increment: a 1;
    		font-family: $font-family;
    		letter-spacing: 0.05em;
    		margin-bottom: 3rem;
    		margin-top: 1rem;
		}
	}

	&__text
	{
		@include to('s')
		{
			margin-bottom: 7rem;
		}

		&:first-child()
		{
			text-align: right;

			@include to('s')
			{
				text-align: left;
			}
		}
	}

	&.entreprise
	{
		// margin-bottom: 8rem;
		// margin-top: 9rem;

		.entreprise__description
		{
			margin: 1.7rem 0 0 0;
			color: $text-black;
			font-size: 1.5rem;

			@include to('s')
			{
				margin-bottom: 7rem;
			}
		}
	}

	.text-20
	{
		font-size: 2rem;
		line-height: 2.6rem;

		.color-red
		{
			color: $red;
		}
	}

	.text-16
	{
		font-size: 1.6rem;
		line-height: 2.6rem;

		.color-red
		{
			color: $red;
		}
	}
}

// INSERT
.insert
{
	position: absolute;
	left: 0;
	right: 0;
	top: -200px;

	&__inner
	{
		background-color: $white;
		border: 1px solid $text-black;
		border-radius: 4px;
	}
	
	&__title
	{
		position: absolute;
		left: 50%;
  		top: 0;
		padding: 1.2rem;
		// width: 70%;
		background-color: $text-black;
		border-radius: 4px;
		font-family: $font-title;
		font-size: 1.8rem;
		letter-spacing: 0.1em;
		transform: translate(-50%, -50%);

		@include at('xs')
		{
			font-size: 1rem;
		}
	}

	&__content
	{
		margin: 4rem 0 1.7rem 0;

		&__list
		{
			margin: 0;
			padding: 0;
			list-style-type: none;

			&__item
			{
				margin: 0.7rem 0;
				font-size: 1.6rem;

				&::before
				{
					display: inline-block;
					color: $red;
					content: "- ";
				}

				&::after
				{
					display: inline-block;
					color: $red;
					content: " -";
				}
			}
		}
	}
}

// PRODUCTS SECTION
.products
{
	&__title
	{
		margin: 0;
		font-family: $font-title;
		letter-spacing: 0.3em;
	}

	&__link
	{
		display: inline-block;
		margin: 2rem 0 7rem 0;
		font-family: $font-title;
		font-size: 1.6rem;	
	}

	&__img
	{
		margin-bottom: 3rem;
		max-width: 100%;
		height: auto;
	}
}

// BRANDS
.brands
{
	margin: 1.5rem 0;
	
	& > a
	{
		@include to('s')
		{
			margin-bottom: 7rem;
		}
	}
}

// EVENTS
.event {
	position: relative;
	
	&-nav
	{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;

		@include to('s')
		{
			bottom: -3rem;
			left: 0;
			right: auto;
			top: auto;
		}
	}

	&-buttonPrevious
	{
		height: 4rem;
		width: 4rem;
		margin: 0 0 0 0.5rem;
		background-color: transparent;
		border: 1px solid currentColor;
		color: $grey;
		line-height: 1;
		text-align: center;
		transition: 0.3s ease;

		&:hover
		{
			border-color: currentColor;
			color: $red;
			transition: 0.3s ease;

			> .svg
			{
				transition: 0.3s ease;

				.change-fill
				{
					fill: $red;
					transition: 0.3s ease;
				}
			}
		}
	}

	&-buttonNext
	{
		height: 4rem;
		width: 4rem;
		margin: 0 0 0 0.5rem;
		background-color: transparent;
		border: 1px solid currentColor;
		color: $grey;
		line-height: 1;
		text-align: center;
		transition: 0.3s ease;

		&:hover
		{
			border-color: currentColor;
			color: $red;
			transition: 0.3s ease;

			> .svg
			{
				.change-fill
				{
					fill: $red;
					transition: 0.3s ease;
				}
			}
		}
	}
}

.event-list {
  position: relative;
  overflow: hidden;
}

.event-item {
	position: absolute;
	display: inline-block;
	width: 100%;
	left: 0;
	top: 0;
	visibility: hidden;

	&__date
	{
		margin: 0;
		color: $grey;
		text-transform: uppercase;
	}

	&__place
	{
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&__description
	{
		margin: 3.5rem 0 0 0;
		color: $white;
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
}

.current {
  visibility: visible;
  position: relative;
}

.event
{
	&--slide
	{
		.event-item
		{
			&.current 
			{
			  visibility: visible;
			  position: relative;
			}

			&--showPrevious
			{
	  			animation: slideFromLeft 350ms 10ms ease-in-out both;
	  		}


			&--showNext 
			{
		  		animation: slideFromRight 350ms 10ms ease-in-out both;
			}

			&--hidePrevious, &--hideNext 
			{
				visibility: visible;
			}

			&--hidePrevious 
			{
				animation: slideToLeft 350ms 10ms ease-in-out both;
			}

			&--hideNext 
			{
				animation: slideToRight 350ms 10ms ease-in-out both;
			}
		}
	}
}
