/**
 * UTILITIES
 */

// AFFICHAGE DES FONTS
.uppercase
{
	text-transform: uppercase;
}

.text
{
    &-left
    {
        text-align: left;
    }
	&-center
    {
        text-align: center;
    }
    &-right
    {
        text-align: right;
    }
}

.font-light
{
    font-weight: 300;
}
.font-normal
{
    font-weight: 400;
}
.font-medium
{
	font-weight: 500;
}

.font-bold
{
	font-weight: 700;
}

.color-white
{
	color: $white;
}

.color-black
{
	color: $black;
}

.color-red
{
    color: $red;
}

.color-grey
{
    color: $grey;
}

.desaturate
{
    filter: gray;
    filter: grayscale(100%);
}

// AFFICHAGE
.height-100
{
    height: 100%;
}

.display-table
{
	display: table;
}

.display-table-cell
{
	display: table-cell;
	vertical-align: middle;
}
.display-block
{
	display: block;
}

.display-none
{
	display: none;
}

.display-inline-block
{
	display: inline-block;
}

.valign-middle
{
    vertical-align: middle;
}

.overflow-hidden
{
	overflow: hidden;
}

.visually-hidden
{
	visibility: hidden;
}

.opacity-none
{
    opacity: 0;
}

// IMAGE FLUID
.fluid
{
    display: block;
    width: 100%;
    height: auto;
}

// POSITIONNEMENT
.clearfix
{
    &::after, &::before
    {
        content: "";
        display: table;
    }

    &::after
    {
        clear: both;
    }
}

.float-left
{
	float: left;
}

.float-right
{
    float: right;
}

.position-fixed
{
 	position: fixed;
}

.position-relative
{
	position: relative;
}

.position-absolute
{
	position: absolute;
}

.margin-center
{
	margin: 0 auto;
}

// COULEURS
.background-white
{
    background-color: $white;
}

.border-white
{
	border-color: $white;
}

// BACKGROUND
.background-cover
{
	background-size: cover;
	background-position: center;
}

.background-dark-grey
{
    background-color: $background-dark-grey;
}

.background-light-grey
{
    background-color: $background-light-grey;
}

// MENU
.menu-inline
{
	list-style-type: none;	
	margin: 0;
	padding: 0;

	li
	{
		display: inline-block;

	}
}

// BORDER

// responsive container for videos
.embed-container
{
    position: relative;
    padding-bottom: percentage(1 / (16/9));
    height: 0;
    overflow: hidden;
    max-width: 100%;
    
    > iframe,
    > object,
    > embed
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}