/**
 * VARIABLES
 */

// COLORS

$black: #000;
$white: #fff;

$text-black: #363334;

$red: #c13b27;
$green: #27c13b;

$grey: #7c7a7b;

$background-dark-grey: #363334;
$background-light-grey: #f3f3f3;

// Brands colors 
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #3f729b;
$linkedin: #0077b5;

// FONT

$font-family: "Cabin", sans-serif;
$font-title: "NovecentoWide", sans-serif;
$font-size-base: 16px;
$line-height-base: (20/14);

$light: 200;
$book: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$fonts-dir: "../../fonts/";

// LAYOUT

// $psd-width: 1920px;
$container-width: 1024px;
// $container-width-m: 1040px;
$gutter-width: 35px;

// TRANSITION

// $ease-transition: width 0.3s ease;

// MISCELLANEOUS

// $img-dir: "../../img/";
$img-dir: "../../dist/img/min/";
$svg-dir: "../../img/";

// RESPONSIVE

// BREAKPOINT SLICER https://github.com/lolmaus/breakpoint-slicer
$slicer-breakpoints: 0 480px 768px 992px 1400px; // 1400 for 13" devices
$slicer-breakpoint-names: 'xs' 's' 'm' 'l' 'xl';
// $slicer-anti-overlap-corrections: -1px;

//  TYPI ( https://github.com/zellwk/typi )
// $breakpoints: ();